* {
    font-family: 'Inter', sans-serif;
    font-weight: bold !important;
}

.email-list {
    background-color: #D9D9D9 !important;
    opacity: 90% !important;
    height: 90vh;
}

.opened-email {
    background-color: #FFFF !important;
}

body {
    background-color: #111111 !important;
}

.button-menu button {
    color: #141414 !important;
    background-color: #D9D9D9 !important;
    border: 0 !important;
    height: 32px;
    margin-bottom: 6px !important;
}