* {
    font-family: 'Inter', sans-serif;
    font-weight: bold !important;
}

.email-list {
    background-color: #D9D9D9 !important;
    opacity: 90% !important;
    height: 90vh;
    overflow-y: auto;
}

.opened-email {
    background-color: #FFFF !important;
    overflow-y: auto;
    height: 90vh;
}

body {
    background-color: #111111 !important;
}

.button-menu button:not(:last-child) {
    color: #141414 !important;
    background-color: #D9D9D9 !important;
    border: 0 !important;
    height: 32px;
    margin-bottom: 6px;
}

.bi-list, .sandwich-menu-button{
    color: white !important;
}

.cookie-image {
    max-width: 800px !important;
}